/* ************ CLASSI DI DEBUG */
.debug{
    border: 2px solid red;
}
.send{
    background-color: rgb(209, 209, 209);
    padding: 0.4rem 0.3rem ;
}
.ric{
    background-color: lightgreen;
    padding: 0.4rem 0.3rem ;
}
/* CLASSI ESTETICHE */
.myBg{
    background: rgb(20,219,144);
    background: linear-gradient(180deg, rgba(20,219,144,1) 0%, rgba(20,219,144,1) 20%, rgba(202,202,202,1) 20%, rgba(255,255,255,1) 25%);
    height: 100vh;
    width: 100%;
    padding: 3rem;
}
.mainApp{
    height: calc(100vh - 6rem);
    margin: 0 auto; 
    width: 85%;
    background-color: whitesmoke;
}
.focus{
    background-color: lightgray;
}
.notifyApp{
    background-color: rgb(58, 205, 250);
}
.chat{
    height:80% ;
    overflow:hidden;
    
}
.aka{
    
    background: repeat center url("../img/mine.jpg"); 
    background-attachment: fixed;
}
.h-10{
    height: 10%;
}
.fa-solid, .fa-regular{
    font-size: 35px;
    line-height: 25px;
    padding: 2rem;
}
.fa-bell-slash{
    line-height: 75px;
    text-align: center;
    font-size: 40px;
    background-color: white;
    color: rgb(58, 205, 250); 
}
img{
    object-fit: cover;
}
.opened{
    background-color: rgb(58, 205, 250);
    border-radius: 17px;
}

