<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>#####</title>
</head>
<body >
    <div id="app" class="myBg">
        {{splitDate(this.view)}}
        <main class="mainApp d-flex ">
            <!-- sezione delle chat -->
            <section class="col-sm-4">
                <div class="col-sm-12  h-10 focus d-flex p-1 ">
                    <div class="col-2">
                        <img class="rounded-circle p-2" src="./img/avatar_io.jpg" alt="">
                    </div>
                    <h1 class="col-6 p-3">Moons
                    
                    </h1>
                    <div class="col-4 p-1 px-4 d-flex justify-self-end text-end justify-content-end align-content-center">
                        <i class="fa-solid fa-circle-notch col-sm-2 "></i>
                        <i class="fa-solid fa-message col-sm-2 "></i>
                        <i class="fa-solid fa-ellipsis-vertical col-sm-2 "></i>
                    </div>
                </div>
                <div class="col-sm-12  p-3 h-10 d-flex notifyApp">
                         <i class="fa-solid fa-bell-slash col-sm-2 rounded-circle p-1"></i>
                        <div class="col-12 col-sm-10 px-3">
                            <h5 class="p-1">Ricevi notifiche di nuovi messaggi</h5>
                            <a class="p-1" href="#">Attiva notifiche desktop</a>
                        </div> 
                </div>
                <div class="col-sm-12 d-flex flex-wrap chat px-1 w-100">
                    <div class="col-12 mt-2 h-10">
                        <div class="input-group w-100 ">
                            <span class="input-group-text" id="inputGroup-sizing-default">
                                <i class="fa-solid fa-magnifying-glass col-1 p-2 mx-2"></i>
                            </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" v-model="searchBar" @keyup.enter="search(searchBar)">
                        </div>
                    </div>
                   
                    
                    <div  class="col-12 h-auto myOverFlow">
                      
                        <div v-for="person,i in contacts" @click="chose(i)" class="col-12 d-flex flex-wrap align-self-start chat border-bottom h-10 w-100 " :class="opened(i)"  >
                            <div class="col-2 p-2">
                                <img class="rounded-circle p-3 py-2 " :src="person.avatar" alt="">
                            </div>
                            <div class="py-1 col-10" >
                                <h5> {{person.name}}</h5>
                                
                                    <div class="d-flex">

                                        <h6 class="d-inline col-10">{{lastElement(person.messages).message}}</h6>
                                        
                                        <template v-for="msg,i in person.messages" >
                                            <span class="col-2" v-if="msg.status == `received` && i >= this.time_date_received.length - 2 "> {{this.time_date_received[this.time_date_received.length-1].time}}</span>
                                        </template>  
                                    </div>                                    
                                
                            </div>
                            
                        </div>

                        <!-- aggiunta copia contatti chat per testare overflow -->
                        <div v-for="person,i in contacts" @click="chose(i)" class="col-12 d-flex flex-wrap align-self-start chat border-bottom h-10 w-100" :class="opened(i)"  >
                            <div class="col-2 p-2">
                                <img class="rounded-circle p-3 py-2 " :src="person.avatar" alt="">
                            </div>
                            <div class="py-1 col-10" >
                                <h5> {{person.name}}</h5>
                                <div class="d-flex">

                                    <h6 class="d-inline col-10">{{lastElement(person.messages).message}}</h6>
                                    
                                    <template v-for="msg,i in person.messages" >
                                        <span class="col-2" v-if="msg.status == `received` && i >= this.time_date_received.length - 2 "> {{this.time_date_received[this.time_date_received.length-1].time}}</span>
                                    </template>  
                                </div>     
                                
                                                            
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </section>
            <!-- sezione chat aperta(on focus) -->
            <section class="col-sm-8  d-flex">
                <div class="w-100 d-flex flex-wrap" >
                    <div class="col-sm-12 focus d-flex h-10">
                        <template v-for="person,i in contacts">
                            <template class="p-3 d-flex " v-if="i == view">
                                <img class="col-sm-1 rounded-circle p-3" :src="person.avatar" alt="">
                                <div class="col-sm-11 d-flex justify-content-between align-items-center  ">
                                    <div>

                                        <h4 class="" >
                                            {{person.name}}
                                        </h4>
                                        
                                        
                                        <template v-for="msg,i in person.messages" >
                                            <p v-if="msg.status == `received` && i >= this.time_date_received.length - 2 ">Ultimo accesso oggi alle {{this.time_date_received[i].time}}</p>
                                        </template>
                                        
                                    </div>
                                    
                                    <div class="col-sm 4 d-flex justify-content-end align-items-center p-2">
                                        <i class="fa-solid fa-magnifying-glass col-sm-1 p-2 mx-2"></i>
                                        <i class="fa-solid fa-paperclip col-sm-1 p-2 mx-2"></i>
                                        <i class="fa-solid fa-ellipsis-vertical col-sm-1 p-2 mx-2"></i>
                                    </div>
                                </div>
                            </template>
                        </template>
                    </div>

                    <section class=" chat w-100 aka">
                        <div class=" " v-for="person,i in contacts">
                            <div v-if="i == view">
                                <div class="p-3 px-5 w-100 d-flex " v-for="msg,i in person.messages">
                                    <div class="  rounded" :class="check(msg.status)"   >
                                        <span v:model={{i}}>
                                            {{ msg.message}}
                                            <br>
                                            <span style="font-size: 10px;text-align: left;" v-if="msg.status == 'received' ">{{this.time_date_received[i].time}}</span>
                                            <span style="font-size: 10px;text-align: right;" v-if="msg.status == 'sent' ">{{this.time_date_received[i].time}}</span>  
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </section>

                    <div class="w-100 focus d-flex justify-content-around p-1 h-10">
                        <div class="">
                            <i class=" fa-regular fa-face-smile"></i>
                        </div>
                        <div class=" input-group mb-3 w-75 rounded d-flex">
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" v-model="sent">
                                <span class="input-group-text col-sm-1 offeset notifyApp" id="inputGroup-sizing-default">
                                <i class="fa-sharp fa-solid fa-paper-plane col-sm-1 p-1 " @click="addMsg(sent,view)"></i>
                            </span> 
                        </div>
                        <div class="">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                
                </div>

            </section>

        </main>
      
    </div>
    <script src="./js/main.js"></script>
</body>
</html>